:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --rojo: #E5252e;
    --sm: 14px;
    --md:16px;
    --ig: 18px;
    --card-size: 100px;
}
body{
    margin:0;
    font-family: "Quicksand", sans-serif;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title{
    font-size: var(--ig);
    margin-bottom: 12px;
    text-align: center;
}
.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}
.primary-buttom{
    background-color: var(--rojo);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.login-buttom{
    margin-top: 14px;
    margin-bottom: 30px;
}

@media (max-width: 640px){
    .logo{
        display: block;
    }
}

/* AHORA EMPEZAMOS EL DE GMAIL WHENHACESTUSMOMOZENRPOGRAMACIONELFUTUROESHOYOISTEVIEJOBUTTEPONEN0OHMILENTEDECONTACTO
*/
.cosoRojo{
    color: var(--rojo);
}
.cirCULO{
    width: 90px;         
    height: 90px;         
    background-color:var(--text-input-field);
    border-radius: 50%;   
    display: flex;        
    justify-content: center; 
    justify-self: center;
    align-items: center;  
}
.email{
    margin: 15px;
   
}

/*LOG IN LOLOLOLOLOLOLOLOLOSIPREFIEROUNACHICADEPIJAMADEHELLOKITTYOUNFEMBOYGOTICO*/

.secon-buttom{
    background-color: var(--white);
    border-radius: 8px;
    border-color: var(--rojo);
    color: var(--rojo);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

/* lol omg en plan holy shit */

@media (max-width: 640px) {
    .login {
        height: auto;
        padding: 24px;
    }

    .form-container {
        height: 100%;
        width: 100%;
    }

    .form {
        justify-content: space-between;
        height: 100%;
    }
}

/*lo ultimo lol*/

.value{
    background-color: var(--text-input-field);
    border-radius: 8px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
    height: 30px;

    display: flex;
    align-items: center;

    color: var(--black);
}

/*TALLER DOS LOLOLOLOLOLOLOOOMGENPLANHOLYSHITSKIBIDISKIBIDIYESYES*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
}

.product-card{
    width: var(--card-size);
}

.product-card img{
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure{
    margin: 0;
}

.product-info figure img{
    width: 35px;
    height: 35px;
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color:var(--very-light-pink);
}

@media(max-width:640px){
    :root{
        --card-size:140px;
    }
}

/* PARTE DOS GLULGLUGLULGLULLHGLULULLULU LELELLELEL LOLOLO UWUUW*/
.lista{
    position: absolute;
    top: 20px;
    left: 20px;

    width: 160px;
    border: 1px solid var(--very-light-pink);
    border-radius: 8px;
    background: var(--white);
}

.lista ul{
    padding: 0;
    margin: 0;
}


.lista li{
    list-style-type: none;
    padding: 14px 20px;
    color: var(--black);
    cursor: pointer;
    text-align: center;
}

.lista li:not(:last-child){
    font-weight: 600;
}

.lista li:last-child{
    position: relative;
    padding-top: 18px;
    font-weight: 400;
}

.lista li:last-child::before{
    content: "";
    position: absolute;
    top: 0;
    left: 24px;
    right: 24px;
    height: 1px;
    background: var(--very-light-pink);
}

/* PARTE DOS NSAJCBHSAVCAGCHABHCSBHCAHBJAS AAAAAAAAAAA*/

.menu{
    padding: 24px;
    width: 100%;
}

.menu ul{
    list-style: none; 
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 0;
}

.categorias{
    padding-bottom: 24px;
}

.divider{
    height: 1px;
    background: var(--very-light-pink);
    margin: 8px 0 0 0;
}

.categorias .title{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 24px;
}

.categorias li:not(.title){
    font-size: var(--md);
    margin-bottom: 24px;
}

.cuenta{
    margin-top: 24px;
}
.cuenta li{
    font-size: var(--md);
    margin-bottom: 24px;
}

.correo{
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.iniciar{
    color: var(--black);
    font-weight: 500;
}

.categorias .title{
    text-align: left;
}
