<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../styles.css">

    <!-- Favicon -->
    <link rel="icon" type="image/svg" href="../logos/favicon.svg">
</head>
<body>
    <section class = "main-container">
    <div class="cards-container">

        
  
    <div class="product-card">
        <img src="https://images.pexels.com/photos/9009967/pexels-photo-9009967.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$200.000</p>
                <p>Postre Wakandiano italiano de mantequilla</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/827513/pexels-photo-827513.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$69.000.000</p>
                <p>Torta de fresa boliviana con delicados fetos de cereza </p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/3028139/pexels-photo-3028139.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$0</p>
                <p>Malteada Waska de 4Chan (incluye figura de My Litle Pony en el interior)</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/2035731/pexels-photo-2035731.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$30.000</p>
                <p>Pastel de Pizza (edicion limitada!)</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/1247670/pexels-photo-1247670.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$200.000.000</p>
                <p>Torta tres leches (toro, mula y burro de Medellin) </p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/4421615/pexels-photo-4421615.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$90.000</p>
                <p>Happy Brownie hecho de africano (la tienda no se hace responsable de efectos secundarios)</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/9442600/pexels-photo-9442600.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$200.000.000</p>
                <p>Copa de helado Gourmet con sabor a Oreo Premium con un delicado toque de vinilla Irlandesa</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/2998945/pexels-photo-2998945.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$20.000</p>
                <p>Postre de Guanabana que parece arroz de corrientazo</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/6565740/pexels-photo-6565740.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$67.000</p>
                <p>Torta para lesbiana (incluye un capitulo de nana y una serenata de "Good Luck Baby")</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/5060291/pexels-photo-5060291.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$20.000</p>
                <p>Delicioso combo de cafe paga 3 lleva 1</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/15269726/pexels-photo-15269726.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$9.110</p>
                <p>Explosivo postre torre gemela (solo incluye una porque su gemela fue impactada por el primer avion)</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/1120464/pexels-photo-1120464.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$1.000</p>
                <p>Cupcakes de pitufos, con sabor a pitufo (ningun pitufo fue lastimado en la elavoracion de este postre)</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/29251132/pexels-photo-29251132.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$49.900</p>
                <p>Delicioso CheesCake de arandanos que parece de mora pero sabe a arroz con leche</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/970104/pexels-photo-970104.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$506.000</p>
                <p>Plato comestible sabor a vainilla (el postre no es comestible) </p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>


     <div class="product-card">
        <img src="https://images.pexels.com/photos/15455309/pexels-photo-15455309.jpeg" alt="">
        <div class="product-info">
            <div>
                <p>$20.000</p>
                <p>Elixir Indio elaborado en Peru, con todo el sabor original de su pais originario</p>
            </div>
            <figure>
                <img src="../icons/bt_add_to_cart.svg" alt="">
            </figure>
        </div>
    </div>
</div>    
</section>
</body>
</html>